{% extends 'base.html' %}
{% load static %}
{% block title %}ResocontoFiscaleAnnuoTasse{% endblock title %}
{% block name %}<i>DETTAGLIO TASSE {{ anno }}</i>{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
    <style>
        tr.selected-row {
            background-color: #fffaaf !important;
            color: #333 !important;
        }
        table a {
            color: #87ceeb;
            text-decoration: none;
        }
        table a:hover {
            color: #87ceeb;
            text-decoration: underline;
        }
    </style>

<div style="max-height:500px; overflow-x:auto; overflow-y:auto; border:1px solid black;">
        <table class="tabella-con-bordi" width="100%" border="1" cellpadding="5" cellspacing="0">
            <thead bgcolor="#383838" style="color:white; position: sticky; top: 0; z-index: 100;">
                <tr>
                    <th>Identificativo Codice Tributo</th>
                    <th>Anno</th>
                    <th>Importo</th>
                    <th>Identificativo F24</th>
                    <th>Ente</th>
                    <th>Data Pagamento</th>
                </tr>
            </thead>
            {% for c in codici %}
                <tr style="background-color:#585858; color:white;">
                    <td>
                        {% if c.identificativo %}
                            <a href="{% url 'UpdateCodiceTributo' id=c.id f24_id=c.id_f24 %}">
                                <b>{{ c.identificativo }}</b>
                            </a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>{{ c.anno }}</td>
                    <td>{{ c.importo|floatformat:2 }} €</td>
                    <td>
                        {% if c.identificativo_f24 %}
                            <a href="{% url 'F24Detail' id=c.id_f24 %}">
                                <b>{{ c.identificativo_f24 }}</b>
                            </a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>{{ c.ente }}</td>
                    <td>{{ c.data_pagamento|default_if_none:'' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}