{% extends 'base.html' %}
{% load static %}

{% block title %}AllClosedProtocols{% endblock title %}

{% block name %}TABELLA DEI PROTOCOLLI{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
			function selectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}

			function unSelectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}

			function getSelected(){
				var checks=document.getElementsByName('b1');
				var list = new Array();
				for(var i=0; i<checks.length; i++){
					if(checks[i].checked== true){
						list.push(checks[i].value);
					}
				}
				return list;
			}

            function deleteGroup(){
                  var list=getSelected();
                  if(list.length > 0){
                    if(confirm('Are you sure you want to delete this Protocolli?')== true){
                        $.ajax({
                            type: "POST",
                            url: "/DeleteProtocolsGroup/",
                            data: {
                                'list': list,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                location.reload(true);

                            },
                            error: function(response){
                                alert("failure");
                            }
                        });


                    }
                  }
            }

            $(document).ready(function () {
                      $('input[type=checkbox]').click(function () {
                        var state = $(this)[0].checked,
                            g = $(this).data('group');
                         $(this).siblings()
                         .each(function () {
                 $(this)[0].checked = g==$(this).data('group')&&state ? false : $(this)[0].checked;
                         });
              });
             })

            function OrderById(){

                $.ajax({
                            type: "GET",
                            url: "/AllProtocols/",
                            data: {
                                'order': 'id',
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                //window.location.href = "/HomePage"
                            },
                            error: function(response){
                                alert("failure");
                            }
                        });

            }

            function OrderByParcella(){

                $.ajax({
                            type: 'GET',
                            url: '/AllProtocols/',
                            data: {
                                'order': 'parcella',
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {

                            },
                            error: function(response){
                                alert("failure");
                            }
                        });

            }

	</script>
{% endblock %}

{% block content %}

        <form method="get">
            <!--{{ filter.form.as_table }}-->
            <table border="5">
            {% for field in filter.form %}
                {% if forloop.counter|divisibleby:"3" %}
                    <tr>{{ field.label }} {{ field }}</tr></br></br>
                {% else %}
                    <tr>{{ field.label }} {{ field }}</tr>&nbsp;&nbsp;&nbsp;
                {% endif %}
            {% endfor %}
            </table></br>
            <button type="submit">Filtra</button>
        </form>
        </br>
        <table align="left" style="width:100%">
            <tr>
                <td >
                    <input type="button" onclick='selectAll()' value="Select All"/>
                    <input type="button" onclick='unSelectAll()' value="Unselect All"/>
                    <input type="button" onclick='deleteGroup()' value="Delete Selected"/>
                </td>
                <td >
                    <div align="right">
                    <form method="post" action="{% url 'export_input_table_xlsx' list=filter.qs model='protocollo' %}">
                        {% csrf_token %}
                         <input type="text" name="fname" placeholder="<FileName>.xlsx" required>
                        <button type="submit">EXPORT TABLE</button>
                    </form>
                    </div>
                </td>
            </tr>
        </table>


        <table width="100%" border="1" cellpadding="10" cellspacing="0">
            <tr>
                <th></th>
                <th>identificativo</th>
                <th>data_registrazione</th>
                <th>cliente</th>
                <th>referente</th>
                <th>indirizzo</th>
                <th>pratica</th>
                <th>note</th>
                <th>data_scadenza</th>
                <th>data_consegna</th>
                <th colspan="2">Operation</th>
            </tr>
            {% for b in filter.qs %}

                {% if b.status is None %}
                    <tr style="background-color:white">
                        <td>
                            <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                        </td>
                        <td>{{ b.identificativo }}</td>
                        <td>{{ b.data_registrazione }}</td>
                        <td>{{ b.cliente }}</td>
                        <td>{{ b.referente }}</td>
                        <td>{{ b.indirizzo }}</td>
                        <td>{{ b.pratica }}</td>
                        <td style='width: 200px; overflow: auto'>{{ b.note|linebreaks }}</td>
                        <td>{{ b.data_scadenza }}</td>
                        <td>{{ b.data_consegna }}</td>
                        <td align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                        <td align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this Protocollo?')">X</a></td>
                    </tr>
                {% else %}
                    {% if b.status < 0 %}
                        <tr style="background-color:red">
                            <td>
                            <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                            </td>
                            <td>{{ b.identificativo }}</td>
                            <td>{{ b.data_registrazione }}</td>
                            <td>{{ b.cliente }}</td>
                            <td>{{ b.referente }}</td>
                            <td>{{ b.indirizzo }}</td>
                            <td>{{ b.pratica }}</td>
                            <td style='width: 200px; overflow: auto'>{{ b.note|linebreaks }}</td>
                            <td>{{ b.data_scadenza }}</td>
                            <td>{{ b.data_consegna }}</td>
                            <td align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                            <td align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this Protocollo?')">X</a></td>
                        </tr>
                    {% else %}
                        {% if b.status >= 0 and b.status <= 3 %}
                            <tr style="background-color:yellow">
                                <td>
                                    <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                                </td>
                                <td>{{ b.identificativo }}</td>
                                <td>{{ b.data_registrazione }}</td>
                                <td>{{ b.cliente }}</td>
                                <td>{{ b.referente }}</td>
                                <td>{{ b.indirizzo }}</td>
                                <td>{{ b.pratica }}</td>
                                <td style='width: 200px; overflow: auto'>{{ b.note|linebreaks }}</td>
                                <td>{{ b.data_scadenza }}</td>
                                <td>{{ b.data_consegna }}</td>
                                <td align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                                <td align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this Protocollo?')">X</a></td>
                            </tr>
                        {% else %}
                            <tr style="background-color:green">
                                <td>
                                    <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                                </td>
                                <td>{{ b.identificativo }}</td>
                                <td>{{ b.data_registrazione }}</td>
                                <td>{{ b.cliente }}</td>
                                <td>{{ b.referente }}</td>
                                <td>{{ b.indirizzo }}</td>
                                <td>{{ b.pratica }}</td>
                                <td style='width: 200px; overflow: auto'>{{ b.note|linebreaks }}</td>
                                <td>{{ b.data_scadenza }}</td>
                                <td>{{ b.data_consegna }}</td>
                                <td align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                                <td align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this Protocollo?')">X</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </table>

        <div class="alert alert-primary" role="alert">
            Totale delle parcelle: <a href="#" class="alert-link">{{sum_p}}</a>
        </div>
{% endblock %}

