{% extends 'base.html' %}
{% load static %}
{% block title %}CreateSpesaCommessa{% endblock title %}
{% block name %}<i>CREA NUOVA SPESA DI COMMESSA</i>{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        </br>
        <h6>* Campo Obbligatorio </h6>
        </br>
        <input type="submit" class="btn btn-primary" value="Crea">
    </form>

{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}