{% extends 'base4.html' %}
{% load static %}
{% block title %}AllClosedProtocols{% endblock title %}
{% block name %}TABELLA DEI PROTOCOLLI{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
			function selectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}
			function unSelectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}
			function getSelected(){
				var checks=document.getElementsByName('b1');
				var list = new Array();
				for(var i=0; i<checks.length; i++){
					if(checks[i].checked== true){
						list.push(checks[i].value);
					}
				}
				return list;
			}
            function deleteGroup(){
                  var list=getSelected();
                  if(list.length > 0){
                    if(confirm('Sei sicuro di voler eliminare questi Protocolli ?')== true){
                        $.ajax({
                            type: "POST",
                            url: "/DeleteProtocolsGroup/",
                            data: {
                                'list': list,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                location.reload(true);
                            },
                            error: function(response){
                                alert("failure");
                            }
                        });
                    }
                  }
            }
            $(document).ready(function () {
                      $('input[type=checkbox]').click(function () {
                        var state = $(this)[0].checked,
                            g = $(this).data('group');
                         $(this).siblings()
                         .each(function () {
                 $(this)[0].checked = g==$(this).data('group')&&state ? false : $(this)[0].checked;
                         });
              });
             })
            function OrderById(){
                $.ajax({
                            type: "GET",
                            url: "/AllProtocols/",
                            data: {
                                'order': 'id',
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                //window.location.href = "/HomePage"
                            },
                            error: function(response){
                                alert("failure");
                            }
                        });
            }
            function OrderByParcella(){
                $.ajax({
                            type: 'GET',
                            url: '/AllProtocols/',
                            data: {
                                'order': 'parcella',
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                            },
                            error: function(response){
                                alert("failure");
                            }
                        });
            }
	</script>
{% endblock %}

{% block content %}
    <form method="get">
        <table border="5">
        {% for field in filter.form %}
            {% if forloop.counter|divisibleby:"2" %}
                <tr>{{ field.label }} {{ field }}</tr></br></br>
            {% else %}
                <tr>{{ field.label }} {{ field }}</tr>&nbsp;&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        </table></br>
        <button type="submit">Filtra</button>
    </form>
    </br>
    <table align="left" style="width:100%">
        <tr>
            <td >
                <input type="button" onclick='selectAll()' value="Seleziona Tutti"/>
                <input type="button" onclick='unSelectAll()' value="Deseleziona Tutti"/>
                <input type="button" onclick='deleteGroup()' value="Elimina Selezionati"/>
            </td>
            <td >
                <div align="right">
                <form method="post" action="{% url 'export_input_table_xls' list=filter.qs model='protocollo' %}">
                    {% csrf_token %}
                     <input type="text" name="fname" placeholder="<NomeFile>" required>
                    <button type="submit">DOWNLOAD Excel</button>
                </form>
                </div>
            </td>
        </tr>
    </table>

    <div style="height:500px; overflow-x:scroll; overflow-y:scroll; border:1px solid black;">
        <table width="150%" border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th></th>
                <th>id</th>
                <th>registrazione</th>
                <th>cliente</th>
                <th>referente</th>
                <th>indirizzo</th>
                <th>pratica</th>
                <th>note</th>
                <th>scadenza</th>
                <th>consegna</th>
                <th>responsabile</th>
                <th colspan="2">Operazioni</th>
            </tr>
            {% for b in filter_queryset %}
                {% if b.data_consegna is not None %}
                    <tr style="background-color:white;">
                        <td style='width: 10px;'>
                            <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                        </td>
                        <td style='width: 80px;'>{{ b.identificativo }}</td>
                        <td style='width: 170px;'>{{ b.data_registrazione }}</td>
                        <td style='width: 150px;'>{{ b.cliente.nominativo }}</td>
                        <td style='width: 150px;'>{{ b.referente.nominativo }}</td>
                        <td style='width: 350px;'>{{ b.indirizzo }}</td>
                        <td style='width: 150px;'>{{ b.pratica }}</td>
                        <td style='width: 500px;'>{{ b.note|safe }}</td>
                        <td style='width: 170px;'>{{ b.data_scadenza }}</td>
                        <td style='width: 170px;'>{{ b.data_consegna|default_if_none:'' }}</td>
                        <td style='width: 150px;'>{{ b.responsabile|default_if_none:'' }}</td>
                        <td style='width: 15px;' align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                        <td style='width: 15px;' align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Sei sicuro di voler eliminare questo Protocollo ?')">X</a></td>
                    </tr>
                {% else %}
                    {% if b.status < 0 %}
                        <tr style="background-color:red;">
                            <td style='width: 10px;'>
                            <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                            </td>
                            <td style='width: 80px;'>{{ b.identificativo }}</td>
                            <td style='width: 170px;'>{{ b.data_registrazione }}</td>
                            <td style='width: 150px;'>{{ b.cliente.nominativo }}</td>
                            <td style='width: 150px;'>{{ b.referente.nominativo }}</td>
                            <td style='width: 300px;'>{{ b.indirizzo }}</td>
                            <td style='width: 150px;'>{{ b.pratica }}</td>
                            <td style='width: 500px;'>{{ b.note|safe }}</td>
                            <td style='width: 170px;'>{{ b.data_scadenza }}</td>
                            <td style='width: 170px;'>{{ b.data_consegna|default_if_none:'' }}</td>
                            <td style='width: 150px;'>{{ b.responsabile|default_if_none:'' }}</td>
                            <td style='width: 15px;' align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                            <td style='width: 15px;' align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Sei sicuro di voler eliminare questo Protocollo ?')">X</a></td>
                        </tr>
                    {% else %}
                        {% if b.status >= 0 and b.status <= 3 %}
                            <tr style="background-color:yellow">
                                <td style='width: 10px;'>
                                    <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                                </td>
                                <td style='width: 80px;'>{{ b.identificativo }}</td>
                                <td style='width: 170px;'>{{ b.data_registrazione }}</td>
                                <td style='width: 150px;'>{{ b.cliente.nominativo }}</td>
                                <td style='width: 150px;'>{{ b.referente.nominativo }}</td>
                                <td style='width: 300px;'>{{ b.indirizzo }}</td>
                                <td style='width: 150px;'>{{ b.pratica }}</td>
                                <td style='width: 500px;'>{{ b.note|safe }}</td>
                                <td style='width: 170px;'>{{ b.data_scadenza }}</td>
                                <td style='width: 170px;'>{{ b.data_consegna|default_if_none:'' }}</td>
                                <td style='width: 150px;'>{{ b.responsabile|default_if_none:'' }}</td>
                                <td style='width: 15px;' align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                                <td style='width: 15px;' align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Sei sicuro di voler eliminare questo Protocollo ?')">X</a></td>
                            </tr>
                        {% else %}
                            <tr style="background-color:green">
                                <td style='width: 10px;'>
                                    <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                                </td>
                                <td style='width: 80px;'>{{ b.identificativo }}</td>
                                <td style='width: 170px;'>{{ b.data_registrazione }}</td>
                                <td style='width: 150px;'>{{ b.cliente.nominativo }}</td>
                                <td style='width: 150px;'>{{ b.referente.nominativo }}</td>
                                <td style='width: 300px;'>{{ b.indirizzo }}</td>
                                <td style='width: 150px;'>{{ b.pratica }}</td>
                                <td style='width: 500px;'>{{ b.note|safe }}</td>
                                <td style='width: 170px;'>{{ b.data_scadenza }}</td>
                                <td style='width: 170px;'>{{ b.data_consegna|default_if_none:'' }}</td>
                                <td style='width: 150px;'>{{ b.responsabile|default_if_none:'' }}</td>
                                <td style='width: 15px;' align="center"><a href="/UpdateProtocol/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
                                <td style='width: 15px;' align="center"><a href="/DeleteProtocol/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Sei sicuro di voler eliminare questo Protocollo ?')">X</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="alert alert-primary" role="alert">
        Totale delle parcelle: <a href="#" class="alert-link">{{sum_p}}</a>
    </div>

{% endblock %}