{% extends 'base.html' %}
{% load static %}

{% block title %}AllSpeseCommessa{% endblock title %}

{% block name %}TABELLA DELLE SPESE DI COMMESSA{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">

        	function selectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}

			function unSelectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}

			function getSelected(){
				var checks=document.getElementsByName('b1');
				var list = new Array();
				for(var i=0; i<checks.length; i++){
					if(checks[i].checked== true){
						list.push(checks[i].value);
					}
				}
				return list;
			}

            function deleteGroup(){
                  var list=getSelected();
                  if(list.length > 0){
                    if(confirm('Are you sure you want to delete this Spese di Commessa?')== true){
                        $.ajax({
                            type: "POST",
                            url: "/DeleteSpeseCommessaGroup/",
                            data: {
                                'list': list,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                location.reload(true);

                            },
                            error: function(response){
                                alert("failure");
                            }
                        });


                    }
                  }
            }

    </script>

{% endblock %}

{% block content %}

    <form method="get">
         {{ filter.form.as_table }}
        </br></br>
        <button type="submit">Filtra</button>
    </form>
    </br>
    <table align="left" style="width:100%">
        <tr>
            <td >
                <input type="button" onclick='selectAll()' value="Select All"/>
                <input type="button" onclick='unSelectAll()' value="Unselect All"/>
                <input type="button" onclick='deleteGroup()' value="Delete Selected"/>
            </td>
            <td >
                <div align="right">
                <form method="post" action="{% url 'export_input_table_xlsx' list=filter.qs model='spesacommessa' %}">
                    {% csrf_token %}
                     <input type="text" name="fname" placeholder="<FileName>.xlsx" required>
                    <button type="submit">EXPORT TABLE</button>
                </form>
                </div>
            </td>
        </tr>
    </table>


    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th></th>
            <th>data_registrazione</th>
            <th>importo</th>
            <th>protocollo</th>
            <th>note</th>
            <th colspan="2">Operation</th>
        </tr>
        {% for b in filter.qs %}
        <tr>
            <td>
                <input type="checkbox" class="checks" name="b1" value={{b.id}}>
            </td>
            <td>{{ b.data_registrazione }}</td>
            <td>{{ b.importo }} €</td>
            <td>{{ b.protocollo }}</td>
            <td>{{ b.note|linebreaks }}</td>
            <td align="center"><a href="/UpdateSpesaCommessa/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">=></a></td>
            <td align="center"><a href="/DeleteSpesaCommessa/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this Spesa di Commessa?')">X</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="alert alert-primary" role="alert">
        Totale degli importi: <a href="#" class="alert-link">{{sum_s}}</a>
    </div>

{% endblock %}
