{% extends 'base.html' %}
{% load static %}
{% block title %}CONTABILITA'{% endblock title %}
{% block name %}<i>CONTABILITA'</i>{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6"><h3><i>RESOCONTO SPESE DI GESTIONE</i></h3><a href="{% url 'ResocontoSpeseGestione' %}"><img width="150" src="{% static 'images/spese.gif'%}"></a></div>
        <div class="col-md-6"><h3><i>RESOCONTO RICAVI</i></h3><a href="{% url 'ResocontoRicavi' %}"><img width="200" src="{% static 'images/guadagni.png'%}"></a></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr align="left" size="4"  color="#ff0000" noshade></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3><i>RESOCONTO GUADAGNI</i></h3><a href="{% url 'ResocontoGuadagni' %}"><img width="200" src="{% static 'images/ricavi.png'%}"></a></div>
        <div class="col-md-6"><h3><i>CONTABILITA' PROTOCOLLI</i></h3><a href="{% url 'ContabilitaProtocolli' %}"><img width="220" src="{% static 'images/protocolli.png'%}"></a></div>
    </div>

    <script>
        localStorage.setItem('filter', '');
    </script>
{% endblock %}