{% extends 'base.html' %}
{% load static %}
{% block title %}CONTABILITA'{% endblock title %}
{% block name %}CONTABILITA' - STUDIO DOA{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6"><h3>RESOCONTO SPESE DI GESTIONE</h3><a href="{% url 'ResocontoSpeseGestione' %}"><img width="150" src="{% static 'images/spese.gif'%}"></a></div>
        <div class="col-md-6"><h3>RESOCONTO DEI RICAVI</h3><a href="{% url 'ResocontoRicavi' %}"><img width="200" src="{% static 'images/guadagni.png'%}"></a></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr align="left" size="4"  color="#ff0000" noshade></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3>GESTIONE DEI GUADAGNI EFFETTIVI</h3><a href="{% url 'GestioneGuadagniEffettivi' %}"><img width="200" src="{% static 'images/ricavi.png'%}"></a></div>
        <div class="col-md-6"><h3>CONTROLLO CONTABILITA' DEI PROTOCOLLI</h3><a href="{% url 'ContabilitaProtocolli' %}"><img width="220" src="{% static 'images/protocolli.png'%}"></a></div>
    </div>

{% endblock %}