{% extends 'base4.html' %}
{% load static %}
{% block title %}AllClienti{% endblock title %}
{% block name %}CLIENTI{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript">
        	function selectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}
			function unSelectAll(){
				var items=document.getElementsByName('b1');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}
			function getSelected(){
				var checks=document.getElementsByName('b1');
				var list = new Array();
				for(var i=0; i<checks.length; i++){
					if(checks[i].checked== true){
						list.push(checks[i].value);
					}
				}
				return list;
			}
            function deleteGroup(){
                  var list=getSelected();
                  if(list.length > 0){
                    if(confirm('Sei sicuro di voler eliminare i Clienti selezionati ?')== true){
                        $.ajax({
                            type: "POST",
                            url: "/DeleteClientiGroup/",
                            data: {
                                'list': list,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                location.reload(true);
                            },
                            error: function(response){
                                alert("failure");
                            }
                        });
                    }
                  }
            }
    </script>
{% endblock %}

{% block content %}
    <form method="get">
        <table border="1" rules="none" bgcolor="#D3D3D3">
        {% for field in filter.form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        </table></br>
	    <button type="submit" class="btn btn-light"><i class="fa fa-filter" aria-hidden="true"></i> Filtra</button>
    </form>
    </br>
    <table align="left" style="width:100%">
        <tr>
            <td>
                <a onclick="selectAll()" class="btn btn-warning btn-sm" role="button" aria-pressed="true">Seleziona Tutti</a>
                <a onclick="unSelectAll()" class="btn btn-warning btn-sm" role="button" aria-pressed="true">Deseleziona Tutti</a>
                <a onclick="deleteGroup()" class="btn btn-warning btn-sm" role="button" aria-pressed="true">Elimina Selezionati</a>
                <a href="{% url 'CreateCliente' %}" class="btn btn-success btn-sm" role="button" aria-pressed="true"><span style="font-size: 110%;">&#43;</span> Aggiungi</a>
            </td>
            <td>
                <div align="right">
                <form method="post" action="{% url 'export_input_table_xls' list=filter_queryset model='rubricaclienti' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control form-control" type="text" name="fname" placeholder="<NomeFileDownload>" required>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> DOWNLOAD Excel</button>
                    </div>
                </form>
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" border="1" cellpadding="5" cellspacing="0">
        <thead bgcolor="#383838" style="color:white;">
            <tr>
                <th></th>
                <th>nominativo</th>
                <th>tel</th>
                <th>mail</th>
                <th>note</th>
                <th colspan="2">Operazioni</th>
            </tr>
        </thead>
        <tbody bgcolor="#585858" style="color:white;">
        {% for b in filter_queryset %}
            <tr>
                <td style='width: 10px;'>
                    <input type="checkbox" class="checks" name="b1" value={{b.id}}>
                </td>
                <td style='width: 250px; overflow: auto'>{{ b.nominativo }}</td>
                <td style='width: 150px; overflow: auto'>{{ b.tel }}</td>
                <td style='width: 250px; overflow: auto'>{{ b.mail }}</td>
                <td style='width: 300px; overflow: auto'>{{ b.note|safe }}</td>
                <td style='width: 15px;' align="center"><a href="/UpdateCliente/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true"><span style='font-size:15px;'>&#x21F2;</span></a></td>
                <td style='width: 15px;' align="center"><a href="/DeleteCliente/{{ b.id }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Sei sicuro di voler eliminare questo Cliente ?')"><span aria-hidden="true">&times;</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!--<div class="pagination">-->
        <!--<span class="step-links">-->
            <!--{% if cl.has_previous %}-->
                <!--<a href="?page=1">&laquo; Prima Pagina</a> /-->
                <!--<a href="?page={{ cl.previous_page_number }}">Precedente</a>-->
            <!--{% endif %}-->
            <!--<span class="current">-->
                <!--Page {{ cl.number }} of {{ cl.paginator.num_pages }}.-->
            <!--</span>-->
            <!--{% if cl.has_next %}-->
                <!--<a href="?page={{ cl.next_page_number }}">Successiva</a> /-->
                <!--<a href="?page={{ cl.paginator.num_pages }}">Ultima Pagina &raquo;</a>-->
            <!--{% endif %}-->
        <!--</span>-->
 <!--</div>-->
{% endblock %}
