<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>MYACCOUNTING|GestioneGuadagniEffettivi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">

    <div align="center">
        <h1>Gestione Guadagni Effettivi</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <!-- Navbar content -->
                <a class="navbar-brand" href="{% url 'HomePage' %}">DASHBOARD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Protocolli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllProtocols' %}">View All Protocolli</a>
                                <a class="dropdown-item" href="{% url 'CreateProtocol' %}">Add Protocollo</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ricavi
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllRicavi' %}">View All Ricavi</a>
                                <a class="dropdown-item" href="{% url 'CreateRicavo' %}">Add Ricavo</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Spese di Commessa
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllSpeseCommessa' %}">View All Spese di Commessa</a>
                                <a class="dropdown-item" href="{% url 'CreateSpesaCommessa' %}">Add Spesa di Commessa</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Spese di Gestione
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllSpeseGestione' %}">View All Spese di Gestione</a>
                                <a class="dropdown-item" href="{% url 'CreateSpesaGestione' %}">Add Spesa di Gestione</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Guadagni Effettivi
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllGuadagniEffettivi' %}">View All Guadagni Effettivi</a>
                                <a class="dropdown-item" href="{% url 'CreateGuadagnoEffettivo' %}">Add Guadagno Effettivi</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Soci
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'AllSoci' %}">View All Soci</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        <form method="post">


            {% csrf_token %}


            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" class="btn btn-primary" value="Crea">

        </form>

        <table width="100%" border="1" cellpadding="10" cellspacing="0">
            <tr>
                <th>mese</th>
                <th>Guadagni Teorici</th>
                <th>Guadagni Effettivi</th>
                <th>Daniele</th>
                <th>Laura</th>
                <th>Federico</th>
                <th>DIFFERENZA</th>
            </tr>
            {% for item in tabella_output3 %}

                {% if forloop.last %}

                    <tr>
                        <td><b>{{ item.0 }}</b></td>
                        <td><b>{{ item.1 }}</b></td>
                        <td><b>{{ item.2 }}</b></td>
                        <td><b>{{ item.3 }}</b></td>
                        <td><b>{{ item.4 }}</b></td>
                        <td><b>{{ item.5 }}</b></td>
                        <td><b>{{ item.6 }}</b></td>
                    </tr>

                {% else %}
                    <tr>
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td>{{ item.3 }}</td>
                        <td>{{ item.4 }}</td>
                        <td>{{ item.5 }}</td>
                        <td>{{ item.6 }}</td>
                    </tr>
                {% endif %}


            {% endfor %}
        </table>




    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>