{% extends 'base.html' %}
{% load static %}
{% block title %}AllSoci{% endblock title %}
{% block name %}TABELLA SOCI{% endblock %}
{% block content %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <font color="red"><li>{{ message }}</li></font>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <font color="orange"><li>{{ message }}</li></font>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <table width="100%" border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>nome</th>
                <th>cognome</th>
                <th>percentuale</th>
                <th colspan="2">Operazioni</th>
            </tr>
            {% for b in tabella_soci %}
            <tr>
                <td>{{ b.nome }}</td>
                <td>{{ b.cognome }}</td>
                <td>{{ b.percentuale }}</td>
                <td align="center"><a href="/UpdateSocio/{{ b.id }}" class="btn btn-success btn-sm" role="button" aria-pressed="true">MODIFICA PERCENTUALE</a></td>
            </tr>
            {% endfor %}
        </table>
        </br></br>
        <table align="left" border="0">
            <tr>
                <td align="center"><img width="50" src="{% static 'images/cartedicredito.jpg'%}"></td>
                <td align="center">SALDO CARTA = </td>
                <td>{{ lista_saldi.0 }} €</td>
            </tr>
            <tr>
                <td align="center"><img width="50" src="{% static 'images/cassaforte.png'%}"></td>
                <td align="center">SALDO DEPOSITO = </td>
                <td >{{ lista_saldi.1 }} €</td>
            </tr>
        </table>

{% endblock %}